
    
header 
    background-image: url('../images/backgroundHeader.jpg')
    background-repeat: no-repeat
    background-position: inherit
    background-size: cover
    max-width: 100%
    height: 1022px
    margin: 0 auto
    padding-top: 425px

    .navbar
        background-color: black
        opacity: 45%
        width: 100%
        height: 60px
        position: fixed
        top: 0px
        

        a
            text-decoration: none
            color: white
            &:hover
             text-decoration: underline
    
    .label-header
        display: block
        font-family: 'Raleway', sans-serif
        font-size: 65px
        font-weight: 900
        font-stretch: normal
        font-style: normal
        line-height: 1.31
        letter-spacing: 14.3px
        text-align: center
        color: #fff
        margin: 0 auto

        &::before
            content: ''
            display: block
            width: 552px
            height: 3px
            opacity: 0.5
            background-color: #fff
            margin: 0 auto
            margin-bottom: 30px

        &::after
            content: ''
            display: block
            width: 552px
            height: 3px
            opacity: 0.5
            background-color: #fff
            margin: 0 auto
            margin-top: 30px
            margin-bottom: 26px

    .label-header-tags
        opacity: 0.7
        font-family: 'Roboto', sans-serif
        font-size: 25px
        letter-spacing: 0.88px
        text-align: center
        color: rgba(255, 255, 255, 0.7)

#about
    width: 100%
    height: 702px
    background-color: #fff
    padding-top: 119px
    
    img
        width: 431px
        height: 583px

    .about-text-wrapper
        margin-top: 53px

        .about-header
            font-family: 'Roboto', sans-serif
            font-size: 18px
            font-weight: bold
            line-height: 1.56
            letter-spacing: 0.18px
            text-align: left
            color: rgba(0, 0, 0, 0.7)
            margin-bottom: 41px

        .about-main-text
            font-family: 'Roboto', sans-serif
            font-size: 16px
            font-weight: normal
            line-height: 1.75
            letter-spacing: 0.16px
            text-align: left
            color: rgba(0, 0, 0, 0.7)

        .hire-me
            width: 202px
            height: 46px
            margin-top: 67px
            background-color: #ff2b4a
            font-family: 'Roboto', sans-serif
            font-size: 16px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            line-height: 1.75
            letter-spacing: 0.16px
            text-align: center
            color: #fff
            border-style: none
        
#working-proc
    width: 100%
    height: 667px
    padding-top: 123px
    padding-bottom: 124px
    background-color: #f6f6f6

    .working-header
        font-family: 'Raleway', sans-serif
        font-size: 40px
        line-height: 0.7
        letter-spacing: 2px
        text-align: center
        color: #000

        &::after
            content: 'Hi, i’m Paul Lapkin, Experience Crafter from Canada.'
            display: block
            font-family: 'Roboto', sans-serif
            font-size: 18px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            line-height: 1.75
            letter-spacing: 0.16px
            text-align: center
            color: rgba(0, 0, 0, 0.7)
            margin-top: 32px

    .work-blocks-wrapper
        margin-top: 61px
        list-style-type: none
        display: -webkit-flex
        display: flex
        justify-content: space-between

        .work-block
            display: block
            width: 283px
            height: 270px
            padding-top: 87px

            img
                display: block
                margin: 0 auto
            .block-text
                margin-top: 47px
                font-family: Raleway
                font-size: 16px
                line-height: 1.75
                letter-spacing: 0.48px
                text-align: center
                color: #fff
                &:hover
                    text-decoration: underline

            &:nth-child(1)
                background-color: #10c6fc
            &:nth-child(2)
                background-color: #835aeb
            &:nth-child(3)
                background-color: #002453
            &:nth-child(4)
                background-color: #ff2b4a
            &:hover
                border-style: solid
                border-width: 4px

#education
    width: 100%
    height: 793px
    background-image: url(../images/backgroundHeader.jpg)
    background-repeat: no-repeat
    background-position: inherit
    background-size: cover
    padding-top: 124px
    padding-bottom: 124px

    .educ-wrapper
        display: flex
        justify-content: space-between
        .education-block
            width: 578px
            height: 545px
            padding-top: 64px
            padding-bottom: 68px
            padding-left: 41px
            padding-right: 41px
            background-image: url(../images/education_back.png)
            background-repeat: no-repeat
            background-position: inherit
            background-size: cover
            
            .eb-header
                font-family: Raleway
                font-size: 26px
                font-weight: bold
                font-stretch: normal
                font-style: normal
                line-height: 1.08
                letter-spacing: 0.78px
                text-align: left
                color: #fff

            .eb-list
                list-style-type: none
                margin-top: 65px
                padding-left: 0px
                .eb-item
                    &:nth-child(2)
                        margin-top: 31px
                        &::before
                            content: ''
                            width: 496px
                            height: 2px
                            opacity: 0.2
                            background-color: #fff
                        

                    .subheader
                        font-family: Roboto
                        font-size: 18px
                        font-weight: bold
                        font-stretch: normal
                        font-style: normal
                        line-height: 1.56
                        letter-spacing: 0.18px
                        text-align: left
                        color: rgba(255, 255, 255, 0.9)
                    .date
                        opacity: 0.7
                        font-family: Roboto
                        font-size: 16px
                        font-weight: 500
                        font-stretch: normal
                        font-style: normal
                        line-height: 1.44
                        letter-spacing: 0.16px
                        text-align: left
                        color: rgba(255, 255, 255, 0.7)
                    .text
                        opacity: 0.5
                        font-family: Roboto
                        font-size: 16px
                        font-weight: normal
                        font-stretch: normal
                        font-style: normal
                        line-height: 1.44
                        letter-spacing: 0.16px
                        text-align: left
                        color: rgba(255, 255, 255, 0.5)

#my-latest-works
    width: 100%
    height: 948px
    background-color: #fff
    padding-top: 123px   
    padding-bottom: 123px

    .mlw-header
        font-family: "Raleway", sans-serif
        font-size: 40px
        font-stretch: normal
        font-style: normal
        line-height: 0.7
        letter-spacing: 2px
        text-align: center
        color: #000