
    
header 
    background-image: url('../images/backgroundHeader.jpg')
    background-repeat: no-repeat
    background-position: inherit
    background-size: cover
    max-width: 100%
    height: 1022px
    margin: 0 auto
    padding-top: 425px

    .navbar
        background-color: black
        opacity: 45%
        width: 100%
        height: 60px
        position: fixed
        top: 0px
        

        a
            text-decoration: none
            color: white
            &:hover
             text-decoration: underline
    
    .label-header
        display: block
        font-family: 'Raleway', sans-serif
        font-size: 65px
        font-weight: 900
        font-stretch: normal
        font-style: normal
        line-height: 1.31
        letter-spacing: 14.3px
        text-align: center
        color: #fff
        margin: 0 auto

        &::before
            content: ''
            display: block
            width: 552px
            height: 3px
            opacity: 0.5
            background-color: #fff
            margin: 0 auto
            margin-bottom: 30px

        &::after
            content: ''
            display: block
            width: 552px
            height: 3px
            opacity: 0.5
            background-color: #fff
            margin: 0 auto
            margin-top: 30px
            margin-bottom: 26px

    .label-header-tags
        opacity: 0.7
        font-family: 'Roboto', sans-serif
        font-size: 25px
        letter-spacing: 0.88px
        text-align: center
        color: rgba(255, 255, 255, 0.7)

#about
    width: 100%
    height: 702px
    background-color: #fff
    padding-top: 119px
    

    .about-text-wrapper
        margin-top: 53px

        .about-header
            font-family: 'Roboto', sans-serif
            font-size: 18px
            font-weight: bold
            line-height: 1.56
            letter-spacing: 0.18px
            text-align: left
            color: rgba(0, 0, 0, 0.7)
            margin-bottom: 41px

        .about-main-text
            font-family: 'Roboto', sans-serif
            font-size: 16px
            font-weight: normal
            line-height: 1.75
            letter-spacing: 0.16px
            text-align: left
            color: rgba(0, 0, 0, 0.7)

        .hire-me
            width: 202px
            height: 46px
            margin-top: 67px
            background-color: #ff2b4a
            font-family: 'Roboto', sans-serif
            font-size: 16px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            line-height: 1.75
            letter-spacing: 0.16px
            text-align: center
            color: #fff
            border-style: none

                        